@import 'tailwindcss';

@theme {
  --color-primary: #161717;
  --color-secondary: #b6e56e;
  --color-text: #99a1af;
  --color-bg-card: #1f2932;
  --color-bg-search: #1f2932;
}

body {
  padding: 0;
  margin: 0;
  @apply bg-primary;
}

/* global.css o main.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
